body {
  display: flex;
  flex-direction: column;
}
header {
  flex: 0 1 auto;
  min-height: 7vh;
}
main {
  flex: 1 0 auto;
  min-height: 84vh;
}
footer {
  flex: 0 1 auto;
  min-height: 9vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
